.main-container {
  max-width: 50%;
  height: auto;
  padding: 10px;
}
.carosel-container {
  background-color: beige;
  padding: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: bisque;
}
